/* Reset and base styles */
@font-face {font-family: "BP Replay"; src: url(assets/fonts/BPreplay.otf);}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "BP Replay";
}

*::-webkit-scrollbar{display: none;}

h1 {font-weight: 600;}

img{object-fit: cover;}

/*Hero section styling*/
.hero{
    width: 100%;
    margin: 0px auto;
    padding: 10px 0px;
    background-color: #AD3E32;
}

nav{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    margin: 0px auto;
    z-index: 1000;
    color: #E4DAC1;
    border-bottom: 1px solid #E4DAC1;
}

.logo{font-size: 2rem;}

.nav-links{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-links div{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 1.5rem;
    color: #E4DAC1;
}

.cart-button{
    color: #E4DAC1;
    text-decoration: none;
}

.hero-content{
    margin: 10px auto;
}
.hero-content h1, .hero-feature p{
    color: #E4DAC1;
}


@media screen and (min-width: 801px) {
    nav{
        width: 98%;
    }

    .hero-content{
        width: 98%;
    }
    .hero-content h1{
        margin: 20px 0px;
        font-size: 7rem;
    }

    .hero-feature p{
        width: 600px;
        margin: 50px 0px;
    }
    .hero-feature img{
        height: 700px;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    nav{
        width: 95%;
    }
    .nav-link, .nav-link p{
        display: none;
    }

    .hero-content{
        width: 95%;
    }
    .hero-content h1{
        margin: 20px 0px;
        font-size: 5rem;
    }

    .hero-feature p{
        margin: 50px 0px;
    }
    .hero-feature img{
        height: 500px;
        width: 100%;
    }
}

/* Products section styles */
.products{
    margin: 20px auto;
}

.product-section-heading{
    font-size: 2rem;
}

.product-cateories{
    margin: 20px auto;
}
.category {
    margin: 20px auto;
    padding: 20px 0px;
    border-bottom: 0.5px solid #202020;
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
    color: #202020;
}

.category-header h3 {
    font-family: "Cabin Bold";
    border-bottom: none;
}

.category-header span{
    margin-left: 50px;
    font-family: "Cabin Regular";
}

.product-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Default for <500px */
    gap: 1rem;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.product-item:hover {
    transform: scale(1.05);
}
.product-item img{
    height: 200px;
    width: 100%;
}
.product-info{
    height: 60px;
    width: 100%;
    padding: 10px;
}

.view-details-btn{
    height: 40px;
    width: 100%;
    background-color: rgb(32, 32, 32);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    transition: all 0.3s ease;
}

.view-details-btn:hover{
    background-color: #ddd;
    color: #202020;
}

@media screen and (max-width: 800px) {
    .products{
        width: 95%;
    }
}
@media screen and (min-width: 801px) {
    .products{
        width: 98%;
    }
}

@media (min-width: 501px) and (max-width: 999px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .product-item img{
        height: 250px;
        width: 100%;
    }
}

@media (min-width: 1000px) and (max-width: 1400px) {
    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
    .product-item img{
        height: 350px;
        width: 100%;
    }
}

@media (min-width: 1401px) {
    .product-list {
        grid-template-columns: repeat(6, 1fr);
    }
    .product-item img{
        height: 350px;
        width: 100%;
    }
}


.business-overview{
    margin: 0px auto 50px;
    padding: 20px 0px;
    border-bottom: 1px solid #818181;
}

.business-overview h1{
    margin-bottom: 20px;
    font-size: 2rem;
}


@media screen and (max-width: 800px) {
    .business-overview{
        width: 95%;
    }

    .business-overview img{
        height: 300px;
        width: 100%;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 801px) {
    .business-overview{
        width: 98%;
    }

    .business-overview img{
        height: 500px;
        width: 70%;
        margin: 50px 0px;
    }
}

.reviews{
    margin: 20px auto 10px;
    padding: 20px;
    background-color: #E4DAC1;
}

.reviews h1{
    font-size: 2rem;
}

.review-cards{
    margin: 50px auto 0px;
}

.review-cards div{
    display: flex;
    gap: 20px;
}

.reviews img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

@media screen and (max-width: 800px) {
    .reviews{
        width: 95%;
    }

    .review-cards{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }

    .review-cards div{
        width: 250px;
        display: flex;
        gap: 20px;
    }

}

@media screen and (min-width: 801px) {
    .reviews{
        width: 98%;
    }
    .review-cards{
        display: flex;
        gap: 50px;
    }

}

.contact{
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(32, 32, 32);
    color: #fff;
}

.footer{
    margin: 0px auto 20px;
    padding: 30px 0px;
    border-bottom: 1px solid #fff;
}

footer{
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .contact{
        width: 95%;
    }

    .footer{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }

    .contact h1{
        font-size: 5rem;
        text-align: center;
    }    
}

@media screen and (min-width: 801px) {
    .contact{
        width: 98%;
    }

    .footer{
        display: flex;
        gap: 150px;
    }

    .contact h1{
        font-size: 7rem;
        text-align: right;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(5px);
    z-index: 1000;
    overflow-y: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: "Cabin Regular";
    color: #202020;
}

.modal.show {
    opacity: 1;
}

.modal-header {
    width: 95%;
    margin: 0px auto;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    border-bottom: 1px solid #202020;
}

.modal-header h2 {
    margin: 0;
    color: rgb(32, 32, 32);
}

.close-modal {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    font-size: 2.5rem;
    color: rgb(32, 32, 32);
    cursor: pointer;
}

.close-modal:hover {
    color: #c92e2e;
    background-color: transparent;
    transform: scale(1.1);
}

.modal-content {
    height: 100vh;
    width: 600px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    overflow-y: auto;
}

.modal.show .modal-content {
    transform: translateX(0);
}



/* Mobile Modal Animation */
@media (max-width: 800px) {
    .modal-content {
        position: relative;
        width: 95%;
        height: 90%;
        margin: 10% auto;
        transform: scale(0.7);
    }

    .modal.show .modal-content {
        transform: scale(1);
    }
}

/* Product Details Modal Styles */
.product-modal {
    transition: background-color 0.3s ease;
}

.product-details {
    width: 100%;
    padding: 2rem;
}

#modalProductName{
    margin-top: 20px;
}

.price{
    padding: 10px 0px;
    font-size: 1.8rem;
    font-weight: bolder;
}

.product-details h3 {
    margin-bottom: 20px;
}

#modalProductDescription{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #202020;
    color: #818181;
}


.quantity-selector {
    margin: 2rem 0;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.quantity-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 50px;
    border: none;
    background-color: #ddd;
    color: #202020;
    font-size: 1.2rem;
    cursor: pointer;
}

.quantity-btn:hover {
    background-color: #202020;
    color: #fff;
}

#modalQuantity {
    height: 50px;
    width: 70%;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid #ddd;
}

.cta-button{
    height: 50px;
    width: 100%;
    background-color: #202020;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
}

.cta-button:hover{
    background-color: #ddd;
    border: 0.5px solid #202020;
    color: #202020;
}

/* Cart Modal Styles */
.cart-modal {
    max-width: 500px;
}

.cart-items {
    height: 65%;
    width: 100%;
    overflow-y: auto;
    padding: 1rem;
}


.cart-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
    padding: 1rem;
}

.cart-img{
    height: 70px;
    width: 70px;
}

.cart-item-info{
    width: 40%;
}

@media screen and (max-width: 500px) {
    .cart-item-info{
        width: 150px;
    }
}

.cart-item-info .price{
    font-size: 1rem;
}

.cart-item-quantity {
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 0.5px solid #202020;
}

.cart-item-quantity button{
    border: none;
    background-color: transparent;
}
.cart-item-quantity button:hover{
    background-color: #202020;
    color: white;
}

.cart-item-total {
    font-weight: 600;
    color: #202020;
}

.remove-item {
    font-size: 2rem;
    color: #c92e2e;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.remove-item:hover{
    color: #ff4a4a;
}

.cart-summary {
    width: 100%;
    padding: 1rem;
    position: sticky;
    bottom: 0;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    color: rgb(32, 32, 32);
}

/*Order modal*/
#orderForm{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#orderForm{
    padding: 20px 0px;
}

.form-group input{
    height: 50px;
    width: 100%;
    border: 1px solid #202020;
}

.form-group textarea{
    height: 100px;
    width: 100%;
    border: 1px solid #202020;
}


